<div class="container">
  <header>
    <h3 class="bg-dark text-white p-4 text-center">
      Subir Imagen en Angular & Laravel
    </h3>
  </header>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="mb-3">
      <label for="formFile" class="form-label">Subir Imagen</label>
      <input class="form-control" type="file" id="formFile" formControlName="image" name="image"
        (change)="uploadImage($event)" [ngClass]="{'is-invalid' : submitted && f.image.errors}">

      <div *ngIf="submitted  && f.image.errors" class="invalid-feedback">
        <div *ngIf="f.image.errors.required">
          La imagen es requerida
        </div>

      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm mt-4">
      Guardar
    </button>
  </form>
</div>